<center><h1 style="font-family: 'Georgia'; color: #f2f2f2; background-color:#800040; padding: 20px;">Text Message Spam Detection
    </h1></center>

<p style="font-family: 'Georgia'; font-size: 16px; font-weight: 800; color: #800040;">
We will be working on 3 different datasets to introduce diversity and overcome high dataset imbalance.
</p>

<p style="font-family: 'Georgia'; font-size: 30px; font-weight: 500; color: black;">
https://github.com/codebasics/py/blob
      <br> /master/ML/7_logistic_reg/insurance_data.csv
</p>

<h1 style="font-family: 'Georgia'; font-size: 24px; color: #008000;">Preprocessing</h1>

In [2]:
# IMPORT LIBRARIES
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

<p style="font-family: 'Georgia'; font-size: 16px; font-weight: 800; color:  #800040;">
 Data Cleaning: First Dataset
</p>

In [15]:
df1 = pd.read_csv('../original_datasets/dataset1.csv', encoding='latin1')
df1.head(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
5,spam,FreeMsg Hey there darling it's been 3 week's n...,NaN,NaN,NaN
6,ham,Even my brother is not like to speak with me. ...,NaN,NaN,NaN
7,ham,As per your request 'Melle Melle (Oru Minnamin...,NaN,NaN,NaN
8,spam,WINNER!! As a valued network customer you have...,NaN,NaN,NaN
9,spam,Had your mobile 11 months or more? U R entitle...,NaN,NaN,NaN

In [16]:
# DROP ALL COLUMNS EXCEPT v1 and v2
df1.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)
df1.columns

Index(['v1', 'v2'], dtype='object')

In [17]:
# INSPECT DATASET 1
print(df1.shape)
print(df1.columns)

(5572, 2)
Index(['v1', 'v2'], dtype='object')

In [18]:
# CHECK FOR NULL AND DUPLICATED VALUES
print('missing values: ', df1.isnull().sum().sum())
print('duplicated values: ',df1.duplicated().sum().sum())

missing values:  0
duplicated values:  403

In [19]:
# REMOVE DUPLICATES, KEEP THE FIRST DATA
df1.drop_duplicates(inplace=True, keep='first')

In [20]:
# CHECK SHAPE AGAIN
df1.shape

(5169, 2)

In [21]:
# RENAME THE COLUMNS WITH APPROPRIATE NAMES
df1.rename(columns = {'v1' : 'tag',
                     'v2' : 'message'}, inplace=True)
df1.head()

    tag                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

We are done cleaning dataset1.csv

In [23]:
df1['tag'].value_counts()

ham     4516
spam     653
Name: tag, dtype: int64

<p style="font-family: 'Georgia'; font-size: 16px; font-weight: 800; color: #800040;">
Data Cleaning: Second Dataset
</p>

In [24]:
df2 = pd.read_csv('../original_datasets/dataset2.csv', encoding='latin1')
df2.head(10)

,Unnamed: 0,target,_id,address,date,text,threadId
0,0,spam,8787,+6396****2373,02:10.1,"Welcome ! your have P1222 for S!ot , \nWeb: 11...",836
1,1,spam,8788,+6398****8852,33:48.9,"My god, at least 999P rewards waiting for you\...",837
2,2,spam,8789,+6394****0113,03:15.0,"DEAR VIP <REAL NAME>, No. 1 Online Sabong Site...",838
3,3,spam,8790,+6395****4934,07:18.7,"<REAL NAME>! Today, you can win the iphone14PR...",839
4,4,spam,8791,+6396****4401,28:56.6,"Welcome ! your have P1222 for S!ot , \nWeb: gr...",841
5,5,spam,8792,+6396****7168,13:44.7,"Welcome ! your have P1222 for S!ot , \nWeb: wi...",842
6,6,spam,8793,+6390****3826,29:52.3,"Hottest News! Join JB Day, Make it your day! S...",844
7,7,spam,8794,+6398****8042,26:17.8,"Sugal hindi na need pumunta CAS1NO, pIay onlin...",845
8,8,spam,8577,+6398****5939,10:16.4,Wag na masyadong mapakapagod dahil friday na! ...,846
9,9,spam,8795,+6390****9355,39:10.1,Happy Weekend! Magrelax at Mag-Enjoy kasama an...,847

In [25]:
df2 = df2.drop(columns=['Unnamed: 0', '_id', 'address', 'date', 'threadId'], index=1)
df2.columns

Index(['target', 'text'], dtype='object')

In [26]:
# INSPECT DATASET 2
print(df2.shape)
print(df2.columns)

(79, 2)
Index(['target', 'text'], dtype='object')

In [27]:
# CHECK FOR NULL AND DUPLICATED VALUES
print('missing values: ', df2.isnull().sum().sum())
print('duplicated values: ',df2.duplicated().sum().sum())

missing values:  0
duplicated values:  0

In [28]:
# RENAME THE COLUMNS WITH APPROPRIATE NAMES
df2.rename(columns = {'target' : 'tag',
                     'text' : 'message'}, inplace=True)
df2.head()

    tag                                            message
0  spam  Welcome ! your have P1222 for S!ot , \nWeb: 11...
2  spam  DEAR VIP <REAL NAME>, No. 1 Online Sabong Site...
3  spam  <REAL NAME>! Today, you can win the iphone14PR...
4  spam  Welcome ! your have P1222 for S!ot , \nWeb: gr...
5  spam  Welcome ! your have P1222 for S!ot , \nWeb: wi...

In [29]:
df2['tag'].value_counts()

spam    79
Name: tag, dtype: int64

<p style="font-family: 'Georgia'; font-size: 16px; font-weight: 800; color: #800040;">
Data Cleaning: Third Dataset
</p>

In [30]:
df3 = pd.read_csv('../original_datasets/dataset3.csv', encoding='utf-8')
df3.head(10)

,spam,Makakatanggap ka ng 5000 cash! Pumunta lang sa website na ito bit.ly/sapo2022 at e click ang google ads na inyong makikita sa kahit anong page ng site.
0,spam,"Gumagamit ka ba ng Facebook, Tiktok or Messeng..."
1,spam,"Salamat sa pag suporta sa casino, gusto mo ba..."
2,spam,Mag laro at kumita habang nasa bahay Lang! Win...
3,spam,"Binabati kita! Bagong kaganapan, mag-log in up..."
4,spam,I was calling you but the line was busy. Im a ...
5,spam,"Send your own SMS with SMSCaster ! Hi,I have a..."
6,spam,"Hi gamezone players, welcome sa laro na kagigi..."
7,spam,"INFORMATION! Your Sim#.won worth of' [PHP500,0..."
8,spam,"Free 128P MG account opening, https://bit.ly/3..."
9,spam,It is good that I found your mobile number.Thi...

since the column names are also data points, we do not want to just rename them but we want to store them to our dataset before removing them

In [31]:
#GET THE NAME OF THE COLUMNS
df3.columns

Index(['spam', 'Makakatanggap ka ng 5000 cash! Pumunta lang sa website na ito bit.ly/sapo2022 at e click ang google ads na inyong makikita sa kahit anong page ng site.'], dtype='object')

In [32]:
#STORE THE DATA INTO A DICTIONARY
new_row = {'spam': 'spam',
          'Makakatanggap ka ng 5000 cash! Pumunta lang sa website na ito bit.ly/sapo2022 at e click ang google ads na inyong makikita sa kahit anong page ng site.' : 'Makakatanggap ka ng 5000 cash! Pumunta lang sa website na ito bit.ly/sapo2022 at e click ang google ads na inyong makikita sa kahit anong page ng site.'}

# add the new row using loc method
df3.loc[len(df3)] = new_row

In [33]:
#RENAME THE COLUMN NAMES
df3 = df3.rename(columns={'spam' : 'tag',
                         'Makakatanggap ka ng 5000 cash! Pumunta lang sa website na ito bit.ly/sapo2022 at e click ang google ads na inyong makikita sa kahit anong page ng site.' : 'message'})
df3.columns

Index(['tag', 'message'], dtype='object')

In [34]:
# INSPECT DATASET 3
print(df3.shape)
print(df3.columns)

(1008, 2)
Index(['tag', 'message'], dtype='object')

In [35]:
# CHECK FOR NULL AND DUPLICATED VALUES
print('missing values: ', df3.isnull().sum().sum())
print('duplicated values: ',df3.duplicated().sum().sum())

missing values:  424
duplicated values:  446

In [36]:
#REMOVE MISSING VALUES
df3 = df3.dropna()
print('missing:')
print(df3.isnull().sum())
print()

#REMOVE DUPLICATES
df3.drop_duplicates(keep='first', inplace=True)
print('duplicated:')
print(df3.duplicated().sum())

missing:
tag        0
message    0
dtype: int64

duplicated:
0

In [37]:
#REINDEX THE DATA FRAME
df3 = df3.reset_index(drop=True)

# INSPECT DATASET 3
print(df3.shape)
print(df3.columns)

(560, 2)
Index(['tag', 'message'], dtype='object')

#### It is important to note that this third dataset contains filipino words so we want to translate it to english first.

In [38]:
#INSTALL DEEP-TRANSLATOR LIBRARY
! pip install deep-translator

Requirement already satisfied: deep-translator in c:\users\dexter\anaconda3\lib\site-packages (1.10.1)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.9.1 in c:\users\dexter\anaconda3\lib\site-packages (from deep-translator) (4.12.2)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in c:\users\dexter\anaconda3\lib\site-packages (from deep-translator) (2.29.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\dexter\anaconda3\lib\site-packages (from beautifulsoup4<5.0.0,>=4.9.1->deep-translator) (2.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dexter\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dexter\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2023.7.22)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dexter\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dexter\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.0.4)

In [39]:
# STORE THE VALUES OF messages COLUMN INTO A LIST
list_filipino = df3.iloc[:, 1]
list_filipino

0      Gumagamit ka ba ng Facebook, Tiktok or Messeng...
1      Salamat sa pag suporta sa casino, gusto  mo ba...
2      Mag laro at kumita habang nasa bahay Lang! Win...
3      Binabati kita! Bagong kaganapan, mag-log in up...
4      I was calling you but the line was busy. Im a ...
                             ...
555    Pinaka murang EMERGENCY LIGHTS sa market ngayo...
556    Happy Sunday! Wag na masyado magpaka stress Fo...
557    KAREN B., LARO na sa ONLINE GAMING ng WALANG M...
558    BUY 2 TAKE 2 TODAY ONLY !! BEAUTIFUL ELEGANT S...
559    From USA, My Dear I want to help you as God di...
Name: message, Length: 560, dtype: object

In [40]:
#TO TRANSLATE EACH TEXT AND STORE THEM IN A LIST, list_translated
from deep_translator import GoogleTranslator
list_translated = []
for message in list_filipino:
    translated = GoogleTranslator(target='en').translate(message)
    list_translated.append(translated)
print('translated!')

translated!

In [42]:
# REPLACE message column in df3 with values in list_collection
df3.iloc[:, 1] = list_translated
df3.head()

    tag                                            message
0  spam  Do you use Facebook, Tiktok or Messenger? Did ...
1  spam  Thanks for supporting the casino, do you want ...
2  spam  Play games and earn money while at home! Win e...
3  spam  Congratulations! New event, log in to receive,...
4  spam  I was calling you but the line was busy. Im a ...

In [43]:
df3['tag'].value_counts()

spam    560
Name: tag, dtype: int64

<h5 style="font-family:Georgia; background-color:#ea9f79; color: #135375; padding: 10px;">Done Cleaning!</h5>

<h3 style="font-family:Georgia; font-size: 16px; background-color:#135375; color: whitesmoke; padding: 10px;">Merge the dataset</h3>

In [45]:
master_df = pd.concat([df1, df2, df3], ignore_index=True)
print(master_df.shape)
master_df.sample(10)

(5808, 2)

       tag                                            message
5253  spam  Send your own SMS with SMSCaster ! Hi,I have a...
3063   ham  Aight text me when you're back at mu and I'll ...
2255   ham                      Thats cool. How was your day?
386    ham  Yes i think so. I am in office but my lap is i...
5663  spam  JACKPOT CITY has the best gaming experience an...
1414  spam  Bought one ringtone and now getting texts cost...
1239   ham                                      Can do lor...
2518   ham                     I WILL CAL YOU SIR. In meeting
3715   ham  Me hungry buy some food good lei... But mum n ...
2065   ham  Ok. Can be later showing around 8-8:30 if you ...